<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Tablero</a>
  </li>
  <li class="breadcrumb-item">
    <a href="<%=trademarks_path%>">Marcas</a>
  </li>
  <li class="breadcrumb-item active">Editar Marca</li>
</ol>

<div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">Editar Marca</div>
    <div class="card-body">
      <%= render 'form', trademark: @trademark %>
    </div>
  </div>
</div>