<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Tablero</a>
  </li>
  <li class="breadcrumb-item">
    <a href="<%=providers_path%>">Proveedores</a>
  </li>
  <li class="breadcrumb-item active">Crear Proveedor</li>
</ol>

<div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">Crear Proveedor</div>
    <div class="card-body">
      <%= render 'form', provider: @provider %>
    </div>
  </div>
</div>