<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
  </head>
  <body onload='number_pages'>
		<div id="content">
			<center><%= @footwear.article %></center>
		  <center><%= image_tag wicked_pdf_asset_base64('barcode.png') %></center>
    	<center><%= @footwear.sku %></center>
    </div>
  </body>
</html>