<!DOCTYPE html>
<html>
<head>
	<title> </title>
</head>
<body>
		<p> Hola Mundo </p>
		<%= image_tag "barcode.png", class: "center-block" %>
		<div style="width: 100%;text-align:center;">
    	  <%= image_tag "barcode.png", class: "center-block" %>
      	</div>
     
          
    	<div style="max-width: 100%;text-align: center;">
        	<%= @footwear.sku %>
        </div>
</body>
</html>