<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Tablero</a>
  </li>
  <li class="breadcrumb-item active">Colores</li>

</ol>

<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i>
    Colores
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table id="colors-datatable" data-source="<%= colors_path(format: :json) %>">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Muestra</th>
            <th>Código Hex</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
<%= link_to 'Volver', :back, class: "btn btn-primary" %>
<%= link_to 'Crear Color', new_color_path, class: 'btn btn-primary' %>
