<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Tablero</a>
  </li>
  <li class="breadcrumb-item">
    <a href="<%=payments_path%>">Pagos</a>
  </li>
  <li class="breadcrumb-item active">Editar Pago</li>
</ol>

<div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">Editar Pago</div>
    <div class="card-body">
      <%= render 'form', payment: @payment %>
    </div>
  </div>
</div>