$.fn.extend {
  integrateSelect2: (selector)->
    selector = selector || '.select2'
    $(@).find(selector).select2({
      theme: "bootstrap",
      width: '100%',
      allowClear: false
    })
                
  integrateDatepicker: (selector)->
    selector = selector || '.datepicker'
    $(@).find(selector).datepicker({
      startView: 1,
      language: "es",
      orientation: "bottom auto",
      autoclose: true,
      todayHighlight: true,
      todayBtn: "linked",
      clearBtn: true,
      dateFormat: "dd-mm-yyyy"

    })
}

 

###
# Number.prototype.format(n, x, s, c)
# 
# @param integer n: length of decimal
# @param integer x: length of whole part
# @param mixed   s: sections delimiter
# @param mixed   c: decimal delimiter
###

Number::format = (n, x, s, c) ->
  re = '\\d(?=(\\d{' + (x or 3) + '})+' + (if n > 0 then '\\D' else '$') + ')'
  num = @toFixed(Math.max(0, ~ ~n))
  (if c then num.replace('.', c) else num).replace new RegExp(re, 'g'), '$&' + (s or ',')



set_events = ->

  if (($('.sales.edit').length  + $('.sales.new').length) > 0)

    $('.footwear_cant').bind 'keyup mouseup', (e)->
      event_target = $(e.currentTarget);
      calc_value(event_target.parents('.field'))
      

    footwear_selects = $(".footwear_select")
    footwear_selects.on 'select2:select', (e) ->
      event_target = $(e.currentTarget);
      calc_value(event_target.parents('.field'))

  if (($('.payments.edit').length  + $('.payments.new').length) > 0)
    client_select = $("#client_select")
    client_select.on 'select2:select', (e) ->
      calc_debt(e)

    way_pay_select = $(".way_pay_select")
    way_pay_select.on 'select2:select', (e) ->
      event_target = $(e.currentTarget);
      calc_amount(event_target.parents('.field'))

    fee_select = $(".fee_select")
    fee_select.on 'select2:select', (e) ->
      event_target = $(e.currentTarget);
      calc_amount(event_target.parents('.field'))

    amount_text_field = $(".amount_value")

    amount_text_field.on 'input', (e) ->
      event_target = $(e.currentTarget);
      calc_amount(event_target.parents('.field'))


calc_total = ->
  total = 0
  $('.footwear_value').each ->
    total += parseFloat(@value)
    if(isNaN(total))
      total = 0;
  $('#total').text(total.format(2, 3, '.', ','));
  if total != 0
    $.ajax
      type: 'POST'
      url: '/get_fees/'+total
      error: (jqXHR, textStatus, errorThrown) ->
        return
      success: (data) ->
        $("#table-fees>tbody").empty()
        i = 0
        while i < data.fees_array.length
          fee3 = data.fees_array[i][1]
          fee6 = data.fees_array[i][2]
          fee9 = data.fees_array[i][3]
          fee12 = data.fees_array[i][4]
          
          if (fee3 == null)
            fee3 = '<span style="color:red;">No disponible</span>'
          else
            fee3 = "$ " + fee3.format(2, 3, '.', ',')

          if (fee6 == null)
            fee6 = '<span style="color:red;">No disponible</span>'
          else
            fee6 = "$ " + fee6.format(2, 3, '.', ',')

          if (fee9 == null)
            fee9 = '<span style="color:red;">No disponible</span>'
          else
            fee9 = "$ " + fee9.format(2, 3, '.', ',')

          if (fee12 == null)
            fee12 = '<span style="color:red;">No disponible</span>'
          else
            fee12 = "$ " + fee12.format(2, 3, '.', ',')


          $("#table-fees>tbody").append("<tr><td>"+data.fees_array[i][0]+"</td><td>"+fee3+"</td><td>"+fee6+"</td><td>"+fee9+"</td><td>"+fee12+"</td></tr>");
          i++;


calc_value = (parent) ->
  input_select = parent.find('.footwear_select') 
  id = input_select.val()
  input_value = parent.find('.footwear_value')
  input_value.empty()
  input_cant = parent.find('.footwear_cant')
  
  if !input_cant.val().length
    input_cant.val(1)
  
  if id.length > 0
    $.ajax
        type: 'POST'
        url: '/get_retail_price/'+id
        error: (jqXHR, textStatus, errorThrown) ->
          return
        success: (data) ->
          input_value.val((data.retail_price * input_cant.val()).toFixed(2))
          calc_total()

calc_amount = (parent) ->
  way_pay_select = parent.find('.way_pay_select')
  way_pay_id = way_pay_select.val()

  fee_select = parent.find('.fee_select')
  
  #Habilitar cuotas si no es efectivo
  #if way_pay_id > 1
    #fee_select.prop('disabled', false)
  #else
    #fee_select.prop('disabled', true)
    #fee_select.val(1).trigger('change.select2')

  
  amount = parent.find('.amount_value')
  
  real_amount = parent.find('.real_amount_value')

  amount_x_fee = parent.find('.amount_x_fee_value')

  if way_pay_id > 1 and fee_select.val() > 1
    $.ajax
        type: 'POST'
        url: '/get_way_pay_interest/'+way_pay_id+'/'+fee_select.val()
        error: (jqXHR, textStatus, errorThrown) ->
          return
        success: (data) ->
          real_amount.val((amount.val()*data.interest).toFixed(2))
          amount_x_fee.val(((amount.val()*data.interest)/fee_select.val()).toFixed(2))

          sum = 0
          $('.real_amount_value').each (index, value) ->
            sum = sum + eval($(this).val())
            if(isNaN(sum))
              sum = 0;
          
          $('#total').text(sum.format(2, 3, '.', ','));
  else
    real_amount.val((amount.val()*1).toFixed(2))
    amount_x_fee.val(((amount.val()*1)/fee_select.val()).toFixed(2))
    sum = 0
    $('.real_amount_value').each (index, value) ->
      sum = sum + eval($(this).val())
      if(isNaN(sum))
        sum = 0;
    $('#total').text(sum.format(2, 3, '.', ','));

  
calc_debt = (target) ->
  client = $('#client_select')
  id = client.val()
  if id.length > 0
    $.ajax
        type: 'POST'
        url: '/get_client_debt/'+id
        error: (jqXHR, textStatus, errorThrown) ->
          return
        success: (data) ->
          deuda = data.debt
          $('#deuda-total').text(deuda.format(2, 3, '.', ',')); 


$(document).ready ->
  $('[data-toggle="tooltip"]').tooltip()
  $('.datatable').dataTable()
  


$(document).on 'turbolinks:load', ->
  $('[data-toggle="tooltip"]').tooltip()
  datatable = $('.datatable')
  datatable.DataTable
    'language': 'url': '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json'
    'bPaginate': true
    'info': false
    'responsive': true
    'deferRender': true

    form = $('form')
    form.integrateSelect2()
    form.integrateDatepicker()

  
    set_events()
  
$ ->
  $('[data-toggle="tooltip"]').tooltip()
  


$(document).on 'turbolinks:before-cache', ->
    dataTable =  $($.fn.dataTable.tables(true)).DataTable()
    if (dataTable != null)
     dataTable.destroy();


$(document).on 'turbolinks:load', ->
  $('.footwears.new #footwear_release_country_id').val(11).trigger('change');
  if ($('.sales.edit').length > 0)
    calc_total()

$(document).on 'cocoon:after-insert', (e) ->
  $('.select2').select2({theme: "bootstrap",width: '100%'})
  set_events()


$(document).on 'cocoon:after-remove', (e) ->
  if ($('.sales.new').length + $('.sales.edit').length > 0)
    calc_total()

onScan.attachTo document
# Register event listener
document.addEventListener 'scan', (sScancode, iQuatity) ->
  if ($('.welcome.index').length > 0)
    $.ajax
      type: 'POST'
      url: '/get_footwear_id/'+sScancode.detail.scanCode
      error: (jqXHR, textStatus, errorThrown) ->
        return
      success: (data) ->
        window.location.replace("/footwears/" + data.id);
  
