<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Tablero</a>
  </li>
  <li class="breadcrumb-item">
    <a href="<%=sales_path%>">Ventas</a>
  </li>
  <li class="breadcrumb-item active">Crear Venta</li>
</ol>

<div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">Crear Venta</div>
    <div class="card-body">
      <%= render 'form', sale: @sale %>
      <hr>
      <table id="table-fees"class="table">
        <thead>
          <tr>
            <th scope="col">Tajerta</th>
            <th scope="col">3 cuotas</th>
            <th scope="col">6 cuotas</th>
            <th scope="col">9 cuotas</th>
            <th scope="col">12 coutas</th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </div>
  </div>
</div>