<!-- Sidebar -->
<ul style="padding-top: 15px;" class="sidebar navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="/providers" accesskey="P">
      <i class="fa fa-fw fa-truck"></i>
      <span>Proveedores</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/trademarks" accesskey="M">
      <i class="fa fa-fw fa-book"></i>
      <span>Marcas</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/categories">
      <i class="fa fa-fw fa-bars"></i>
      <span>Categorías</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/footwears" >
      <i class="fa fa-fw fa-shopping-bag"></i>
      <span>Calzados</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/colors">
      <i class="fa fa-fw fa-paint-brush"></i>
      <span>Colores</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/sizes">
      <i class="fa fa-fw fa-expand"></i>
      <span>Talles</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/clients" accesskey="C">
      <i class="fa fa-fw fa-bars"></i>
      <span>Clientes</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/way_pays">
      <i class="fa fa-fw fa-dollar"></i>
      <span>Forma de pago</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/sales" accesskey="V" >
      <i class="fa fa-fw fa-shopping-cart"></i>
      <span>Ventas</span></a>
  </li>
</ul>